<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninimum.api.message.service.TestPhoneMapper">

    <select id="selectTestPhone" resultType="camelMap">
        <![CDATA[
            SELECT *
            FROM test_phone where phone = #{phoneNumber};
        ]]>
    </select>

</mapper>