<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninimum.api.promotion.service.PromotionMapper">

    <select id="getPromotionList"
            resultType="com.ninimum.api.dto.PromotionDto">
        SELECT
        promotion_id AS promotionId,
        title AS title,
        content AS content,
        image_url AS imageUrl,
        DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
        DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate
        FROM promotions
        WHERE use_yn = 'Y'
        AND CURDATE() BETWEEN start_date AND end_date
        ORDER BY promotion_id DESC
    </select>

    <select id="getPromotionDetail"
            parameterType="com.ninimum.api.param.PromotionDetailParam"
            resultType="com.ninimum.api.dto.PromotionDto">
        SELECT
        promotion_id AS promotionId,
        title AS title,
        content AS content,
        image_url AS imageUrl,
        DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
        DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate
        FROM promotions
        WHERE promotion_id = #{promotionId}
        AND use_yn = 'Y'
    </select>
</mapper>